@tailwind base;
@tailwind components;
@tailwind utilities;

.titulo {
    font-size: 25px;
    padding-left: 290px;
    padding-top: 20px;    
}

.box{
    font-size: 25px;
    padding-left: 290px;
    padding-top: 20px; 
}
.pontuacao{
    font-size: 25px;
    padding-left: 290px;
    padding-top: 20px; 
}